@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&family=Playfair+Display&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color: black;
}

img{
    max-width: 100%;
}

p{
    max-width: 100%;
}

.imagen{
    float: left;
    width: 45%;
    margin-top: 11%;
    margin-left: 6%;
    text-align: center;
}

.texto{
    float: right;
    margin-top: 9%;
    margin-right: 2%;
    width: 45%;
    color: white;
    font-family: Montserrat;
    font-size: 15px;
}

.modelo{
    font-size: 500%;
    margin-bottom: 0px;
    font-family: Playfair;
}

.comentarios{
    font-family: Playfair;
    font-size: 140%;
}

.volver{
    float: right;
    margin-top: 100px;
    cursor: pointer;
}

